body {
    color: white;
    margin: auto;
    padding: auto;
}

div.header {
    color:brown;
}

div.body {
    color: green;
}

button {
    height: 50px;
    width: 100px;
    text-align: center;
    background-color: aqua;
    color: black;
}